@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Prácticas de ASP.NET</h1>

<br />
Estas prácticas están hechas utilizando Blazor y ASP.NET. 
<br />
<br />
Con estas prácticas, queremos demostrar la funcionalidad al utilizar ASP.NET como lenguaje de programación en el lado del servidor. .
